.h1
{
    display: block;
    font-size: 4em;
    font-family:Arial Bold Italic;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    text-align:centr;
};



.lefty {
    float: left;
    

}

.clear {
    
    float:right;
    margin-right: 2 px;
}
