
.traffic-light {
  width: 200px;
  height: 500px;
  position: relative;
}

.light {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.man {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.middle {
  bottom: 200px;
}

.top {
  bottom: 400px;
}